<div class="container mt-5">
    <h1 class="mb-4">History of books</h1>
    <div class="row">
        <div class="col-lg-6 ">
            <img width="600" src="~/img/booklist.png">
        </div>
        <div class="col-lg-6">
            <p>
                The history of books starts with the development of writing, and various other inventions such as paper and printing, and continues through to the modern-day business of book printing. The earliest knowledge society has on the history of books actually predates what would conventionally be called "books" today and begins with tablets, scrolls, and sheets of papyrus. The current format that we consider to be books, with separate sheets fastened together rather than a scroll, is called a codex. Then hand-bound, expensive, and elaborate manuscripts appeared in codex form. These gave way to press-printed volumes and eventually led to the mass-printed volumes prevalent today.
            </p>
            <p>
                The earliest forms of writing were etched on stone slabs, transitioning to palm leaves and papyrus in ancient times. Parchment and paper later emerged as important substrates for bookmaking, introducing greater durability and accessibility. Across regions like China, the Middle East, Europe, and South Asia, diverse methods of book production evolved. The Middle Ages saw the rise of illuminated manuscripts, intricately blending text and imagery, particularly during the Mughal era in South Asia under the patronage of rulers like Akbar and Shah Jahan. Prior to the invention of the printing press, made famous by the Gutenberg Bible, each text was a unique handcrafted valuable article, personalized through the design features incorporated by the scribe, owner, bookbinder, and illustrator.
            </p>
        </div>
      
    </div>
</div>
